.padding-auto{
    padding-left: auto !important;
    padding-right: auto !important;
}

body{
    background-image: url(https://cdn.pixabay.com/photo/2020/07/26/08/12/pattern-5438743_960_720.png);
    
}


.erdekesseg{
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: help;
    
}
.card{
    border-radius: 40px;
}

.pull-right{
    float: right !important;
}

